{% extends "stats/base.html" %}
{% load static %}
{% block content %}
<div class="content-section">
    {%if company %}
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ company.name }}</h2>
                    <p class="text-secondary">admins:                     
                        {% for admin in admins %}
                            {{admin}}
                        {% endfor %}
                    </p>

                    <h7>invite code:  {{ company.invite_code}}</h7>
                    <h6>users registered: {{users|length}} </h6>
                    <ul>
                    {% for user in users %} 
                    <li>{{user.user.username}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% if isAdmin %}
            <form method="POST">
                    {% csrf_token %}
                <div style="padding: 16px;" class="media-body">
                    <h6>Promote user to admin</h6>
                    {{adminForm}}
                    <input class="btn btn-outline-secondary" name="promoteUser" type="submit"></input>
                </div>
            </form>
            {% endif %}

    {% else %}
    <div class="row mb-3">
        <div class="col text-center">
            <h2>You are not registered with a company</h2>
        <form method="POST">
        {% csrf_token %}
            <div style="padding: 16px;">
                {{form}}
                <button class="btn btn-outline-secondary" type="submit">Sign up</a>
            </div>
        </form> 
            <div style="padding: 16px;">
                <a href="{% url 'stats-createCompany' %}" class="btn btn-primary">Create New Company</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
