{% extends "stats/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col-6">
                <h2>{{game_detail.title}}</h2>
            </div>
            <div class="col-6 text-right">
                <a href="{% url 'stats-results' %}" class="btn btn-primary">Join Game</a>
                <a href="{% url 'stats-results' %}" class="btn btn-primary">Add Result</a>
            </div>
        </div>
    </div>
{% endblock content %}