{% extends "stats/base.html" %}
{% load static %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="row mb-3">
            <div class="col text-center">
                <a href="{% url 'stats-newgame' %}" class="btn btn-primary">Create New Game</a>
            </div>
        </div>
        <div class="row" display="flex">
        {% for game in Games %}
        <a href="{% url 'stats-home-refresh' slug=game.slug%}">
            <div class="col-12 col-lg-6" style="margin-bottom: 30px;">
                <div class="card mx-auto" style="width: 300px;">
                    <img class="card-img-top" src="{{game.image.url}}" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">{{game.title}}</h4>
                        <a href="{% url 'stats-game' slug=game.slug %}" class="btn btn-primary">See Results</a>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        </div>
    {% else %}
        <div>
            <h1>Welcome to Elo Tracker</h1>
            <p>Matchmaking rating tracker for office games</p>
        </div>
    {% endif %}
{% endblock content %}
{% block leaderboard %}
<div class="content-section">
    <h3>Leaderboard</h3>
{% if Leaders|length > 0 %}

        <p class='text-muted'>Top 3 players for {{ game_title }}
            <ul class="list-group">
            {% for player in Leaders %}
                <li class="list-group-item list-group-item-light">{{player.username}}</li> 
            {% endfor %}
            </ul>
        </p>

{% else %}
    <p class='text-muted'>No records found</p>
{% endif %}
</div>
{% endblock %}

{% block content_right %}
            <div class="content-section">
                <h3>Company Recent Matches</h3>
                {% if Histories|length > 0 %}
                    {% for match in Histories %}
                            <p class='text-muted list-group-item'>
                                {{ match.match_date}}
                                <br />
                                {{ match.player_A }}
                                <br />
                                {{ match.player_B }}
                            </p>
                    {% endfor %}
                {% else %}
                    <p class='text-muted'>No records found</p>
                {% endif %}
            </div>
            <div class="content-section">
                <h3>Company Upcomings</h3>
                {% if Upcomings|length > 0 %}
                    {% for match in Upcomings %}
                        <p class='text-muted list-group-item'>
                            {{ match.date}}
                            <br />
                            {{ match.player_1 }}
                            <br />
                            {{ match.player_2 }}
                        </p>
                    {% endfor %}
                {% else %}
                    <p class='text-muted'>No records found</p>
                {% endif %}
            </div>
{% endblock %}
