{% extends "stats/base.html" %}
{% load crispy_forms_tags %}

{% block style %}
<style>
    table{
        border-collapse: collapse;
        font-family: Arial;
    }

    th {
        padding-right: 8px;
        padding-left: 8px;
        font-weight: normal;
    }
    .thName{
        text-align: initial;
    }
    .thPositive{
        color: green;
    }
    .thNegative{
        color: red;
    }

</style>
{% endblock %}



{% block content %}
<div class="content-section">
    <table style="width: 100%">
        <thread>
            <tr>
                <th title="Player name"style="text-align: initial; width: 30%;"><span style="font-weight: bold">Player</span></th>
                <th title="Player's current rating"><span style="font-weight: bold">Rating</span></th>
                <th title="Rating change over the last 20 games"><span style="font-weight: bold">Recent</span></th>
                <th title="Player's total wins"><span style="font-weight: bold">Wins</span></th>
                <th title="Player's total losses"><span style="font-weight: bold">Losses</span></th>
            </tr>
        </thread>

        {% if player_list %}
            {% for player in player_list %}
                <tr>
                    <th class="thName">{{player.first_name}} {{player.last_name}}</th>
                    <th>{% if player.rating %} {{player.rating}} {% else %}1000{% endif %}</th>
                    {% if player.recent_rating_change %}
                        {% if player.recent_rating_change > 0 %}
                            <th class="thPositive">{{ player.recent_rating_change}}</th>
                        {% elif player.recent_rating_change < 0 %}
                            <th class="thNegative">{{ player.recent_rating_change}}</th>
                        {% else %}
                            <th>{{ player.recent_rating_change }}</th>
                        {% endif %}
                    {% else %}
                        <th class="thPositive">+1000</th>
                    {% endif %}

                    <th>{% if player.wins %}{{player.wins}}{% else %}0{% endif %}</th>
                    <th>{% if player.losses %}{{player.losses}}{% else %}0{% endif %}</th>

                </tr>
            {% endfor %}
        {% endif %}

        <!-- <tr>
            <th class="thName">Player C</th>
            <th>1500</th>
            <th>+0</th>
            <th>80</th>
            <th>20</th>
        </tr>

        <tr>
            <th class="thName">Player A</th>
            <th>1000</th>
            <th class="thPositive">+10</th>
            <th>50</th>
            <th>50</th>
        </tr>

        <tr>
            <th class="thName">Player B</th>
            <th>500</th>
            <th class="thNegative">-10</th>
            <th>20</th>
            <th>80</th>
        </tr> -->
    </table>
</div>

{% endblock content %}