{% extends "stats/base.html" %}
{% load widget_tweaks %}
{% block content %}

    {% if user.is_authenticated %}
    <style type="text/css">
        div.filter{
            border-radius: 8px;
            padding: 25px 25px 25px 25px;
            border: 2px solid #5f788a;
        }
        th{
            width: 20%;
        }   
        table{
            border-collapse: collapse;
        }
    </style>
        <div class="row mb-3">
            <div class="col-8">
                <h3>Match Scheduler</h3>
            </div>
            <div class="col text-right">
                <a href="{% url 'stats-newmatch' %}" class="btn btn-primary">Schedule a Match</a>
            </div>
        </div>
        <hr />
        <form method="get">
            <div class="filter">
                <div class="row">
                    <div class="form-group col-5">
                        {{ filter.form.game.label_tag }}
                        {% render_field filter.form.game class="form-control" %}
                    </div>
                    <div class="form-group col-5">
                        {{ filter.form.date.label_tag }}
                        {% render_field filter.form.date class="form-control" %}
                    </div>
                    <div class="form-group col-2">
                        <br />
                        <button type="submit" class="btn btn-primary"> Search</button>
                    </div>
                </div>
                
            </div>
        </form>

        <br><br>
            {% if filter.qs %}
                <table class = "table table-hover table-sm table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Match Up</th>
                            <th>Game</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th></th>
                        </tr>
                    </thead>
            {% endif %}
                {% for upcoming in filter.qs %}
                <tr>
                    <td>{{upcoming.player_1}}  vs {{upcoming.player_2}}</td>
                    <td>{{upcoming.game.title}}</td>
                    <td>{{upcoming.date}}</td>
                    <td>{{upcoming.start_time}}</td>
                    <td>{{upcoming.end_time}}</td>
                    <td><a href="{% url 'stats-upcoming' upcoming.id %}" class="btn btn-primary">View</a>
                    </td>
                </tr>
                {% endfor %}
                </table>

    {% else %}
        <div>
            <h1>Welcome to Elo Tracker</h1>
            <p>Login to view schedules</p>
        </div>
    {% endif %}
{% endblock content %}