{% extends "stats/base.html" %}
{% block content %}
    <div class="content-section">
        <style type="text/css">
            th {
              padding: 0 20px;
            }
            td {
              padding: 0 20px;
            }
            tr.header{
                padding: 25px 50px 75px 100px;
            }
            table{
                border: 5px solid white;
            }
        </style>
        <table>
            <tr class='header'>
                <th>Match Up</th>
                <th>Game</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            <tr>
                <td>{{object.player_1}}  VS {{object.player_2}}</td>
                <td>{{object.game.title}}</td>
                <td>{{object.date}}</td>
                <td>{{object.start_time}}</td>
                <td>{{object.end_time}}</td>
            </tr>
        </table>
    </div>
    <div class="col text-left">
        <a href="{% url 'stats-updatematch' object.id %}" class="btn btn-outline-info">Update Match</a>
        <a href="{% url 'stats-deletematch' object.id %}" class="btn btn-primary">Delete Match</a>
    </div>
</div>
{% endblock content %}